<div class="container-fluid headerTitle text-center pt-2 pb-2">
    <span class="small pr-4">Support help@esocietybazaar.com</span><span class="small pr-4 pl-2">Claims 1800-123-4567 </span><span class="pr-4 small">Sales 1800-123-4567</span> 
</div>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light pt-3 pb-3">
    <a class="navbar-brand" href="#"><img src="../../../assets/logo-side-wo-bg.png" height="70px" width="190px"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-lg-3 mr-lg-3 text-center">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item mr-lg-3 ml-lg-3 text-center">
          <a class="nav-link" href="#">Support</a>
        </li>
        <li class="nav-item mr-lg-3 ml-lg-3 text-center" >
          <a class="nav-link greentext" href="#">Login</a>
        </li>
        <li class="nav-item mr-lg-3 ml-lg-3 d-flex justify-content-center">
          <a class="nav-link openaccountButton text-center" href="#">OPEN ACCOUNT</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
  
</div>