<div class="container-fluid background">
</div>
<div class="container containerpos">
    <div class="row">
        <div class="col-lg-8 col-12">
            <h5 class="col-lg-5 col-12 " style="color: rgba(91, 91, 91, 1);">Find Societies Faster , Smarter </h5>
            <div class="col-lg-6 col-12 float-right marginclass">
                <form>
                    <i class="fas fa-search" style="color: rgba(31, 180, 122, 1);"></i><input class="inputChange col-11"
                        type="text" name="" placeholder="Or type a Society's name/place/type" id="">
                </form>
            </div>

        </div>
    </div>
    <p class="col-lg-8 col-12">Are you struggling to find a society in your
        area that fills all your needs? Don't have time to go to society offices make deposits? Select a location.</p>
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-3 d-flex justify-content-center p-3 mr-lg-4 mt-3 btnhover1"
                    style="border-radius: 12px !important; box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.38);">
                    <img src="../../../assets/mumbai.png" height="55px" alt="">
                </div>
                <div class="col-lg-3 d-flex justify-content-center p-3 mr-lg-4 mt-3 btnhover1"
                    style="border-radius: 12px !important;  box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.38);">
                    <img src="../../../assets/taj-mahal.png" height="55px" alt="">
                </div>
                <div class="col-lg-3 d-flex justify-content-center p-3 mr-lg-4 mt-3 btnhover1"
                    style="border-radius: 12px !important;  box-shadow: 0px 0px 24px 1px rgba(0,0,0,0.38);">
                    <img src="../../../assets/gate-of-india.png" height="55px" alt="">
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mt-5">
            <h5 class="col-lg-6" style="color: rgba(91, 91, 91, 1);">Select Society Type </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="row ml-1 mt-3">
                <div class="dropdown col-lg-4 col-12 mt-3">
                    <button class="btn btnhover1 col-12 dropdown-toggle btnradius" type="button" data-toggle="dropdown"
                        style="color: rgba(91, 91, 91, 1);"> <i class="fas fa-piggy-bank"
                            style="color: rgba(31, 180, 122, 1);"></i> Credit Society
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">value 1</a></li>
                        <li><a href="#">value 2</a></li>
                        <li><a href="#">value 3</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-3 mt-4 text-center mt-2" style="color: rgba(31, 180, 122, 1);">Now Select,
                </div>
                <div class="col-lg-2 col-3 mt-3"><button class="btn btnhover1 btnradius" type="button"
                        style="color: rgba(91, 91, 91, 1);">Deposits</button></div>
                <div class="col-lg-3 col-3 mt-3"><button class="btn btnhover1 btnradius" type="button"
                        style="color: rgba(91, 91, 91, 1);">Loans</button></div>
            </div>
        </div>
    </div>
    <div class="row ml-1 mt-4">
        <h5 class="col-lg-6" style="color: rgba(31, 180, 122, 1);">Scheme Type </h5>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <div class="row ml-1 mt-3 d-flex justify-content-center">
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-6 mt-2" style="color: rgba(91, 91, 91, 1);">Term-Mid</div>
                        <input type="range" class="custom-range col-lg-6 mt-2" min="0" max="2" id="customRange1">
                    </div>
                </div>
                <div class="col-lg-3 text-center mt-2" style="color: rgba(31, 180, 122, 1); font-size: 15px;">Additional
                    information, if any</div>
                <div class="col-lg-2 col-4 mt-4 mb-4"><button class="btn btnhover2 btnradius" type="button"
                        style="color: rgba(91, 91, 91, 1);">Senior Citizen</button></div>
                <div class="col-lg-2 col-4 mt-4 mb-4"><button class="btn btnhover2 btnradius" type="button"
                        style="color: rgba(91, 91, 91, 1);">Women</button></div>
                <div class="col-lg-2 col-4 mt-4 mb-4"><button class="btn btn2 btnhover2 btnradius" type="button"
                        style="color: rgba(91, 91, 91, 1);">Special Offers</button></div>
            </div>
        </div>
    </div>
    <app-slider></app-slider>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">

        </div>
    </div>


    </div>